body{
    margin: 0; 
    padding: 0;

}

.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top1{
    height: 100px;
    background-color: #FFEFEF;
}

main{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.top2{
    flex: 1;
    background-color: #FFE7E7;
    height: 412px;
    width: 720px;
}

.bottom1{
    flex: 1;
    background-color: #FFA6A6;
    height: 412px;
    width: 720px;
}

.right{
    background-color: #DDB7B7;
    height: 824px;
    width: 720px;
    display: flex;
    flex: 1;
}


.bottom1{
    flex: 1;
    background-color: #FFA6A6;
}

.bottom2{
    height: 100px;
    background-color: #FFCDCD;
    height: 100px;

}