body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 200px;
    justify-content: space-between;
}

.box{
    width: 355px;
    height: 200px;
    background-color: #E4D7FF;
}

.box2{
    width: 1440px;
    height: 824px;
    background-color: #9CBAF5;
}

.cir{
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: space-between;
    border-radius: 500px;
    background-color: black;
    position: absolute;
    left: 30%;
    margin-left: -150px;
    margin-top: 50px;
}


.cir2{
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: space-between;
    border-radius: 500px;
    background-color: black;
    position: absolute;
    margin-left: 830px;
    margin-top: 50px;

}
