body{
    margin: 0;
    padding: 0;
    height: 1024px;
    width: 1440px;

}

.wrap{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.square1{
    height: 1024px;
    width: 1000px;
    background-color: #D7FAFF;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

.square2{
    width: 470px;
    height: 1024px;
    background-color: #74B7C1;
    position: absolute;
    left: 50%;
    margin-left: -235px;
    z-index: 10;
}