<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex3</title>
    <link rel="stylesheet" href="../assets/ex3.css">
</head>
<body>
    <header>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </header>
    <main>
        <div class="box2">
            <div class="cir"></div>
            <div class="cir2"></div>
        </div>
    </main>

</body>
</html>